@font-face {
    font-family: 'Norse-Bold';
    src: url('./font/Norse-Bold.otf');
}

body {
    font-family:'Times New Roman', Times, serif;
}

em {
    font-style: italic;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#side-container {
    flex: 1;
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#main-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 50px;
}

#side-container .logo {
    font-family: 'Norse-Bold';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 135px;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px 0;
}

#side-container .logo img {
    width: 15%;
}

#side-container .logo h1 {
    font-size: 4rem;
}

#side-container a,
#side-container .credits {
    color: white;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

#main-container h3 {
    max-width: 600px;
}

#main-container h3 {
    font-weight: bold;
    font-size: 1.5rem;
}