@font-face {
    font-family: 'Norse-Bold';
    src: url('./font/Norse-Bold.otf');
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #eee;
}

em {
    font-style: italic;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

#side-container {
    flex: 1;
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#main-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 90%;
}

#side-container .logo {
    font-family: 'Norse-Bold';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 135px;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 10px 0;
}

#side-container .logo img {
    width: 15%;
}

#side-container .logo h1 {
    font-size: 4rem;
}

#side-container a,
#side-container .credits {
    color: white;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

#main-container h3 {
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 600px;
    padding-left: 50px;
}

#signup-form {
    width: 100%;
    height: 50%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#signup-form .button-container {
    background-color: #eee;
    margin-top: 30px;
    padding-left: 50px;
}

#signup-form .button-container button {
    background-color: #596D48;
    border: none;
    border-radius: 7px;
    padding: 10px 40px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
}

#signup-form .button-container button:active {
    transform: scale(0.98);
}

#signup-form .button-container a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

#signup-form .form-group {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

#signup-form .form-group input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 200px;
    margin-bottom: 30px;
}

#signup-form .form-group input:focus {
    outline: none;
    border: 1px solid rgb(0, 26, 255);
}

#signup-form .form-group input:focus:invalid {
    border: 1px solid red;
}

#signup-form .form-item label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

#signup-form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: white;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 2px 2px 5px;
}

#signup-form fieldset legend {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 1.25rem;
    font-weight: bold;
}